body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    background-color:hsl(0,0%,90%);;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius: 15px;
    width: 100%;              
    max-width: 400px;         
    height: 90vh;            
    max-height: 700px;      
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#display {
    flex: 1;          
    padding: 15px;
    font-size: 3rem;
    text-align: right;
    border: none;
    background-color: hsl(0,0%,20%);
    color: white;
}

#keys {
    flex: 3;            
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}
.operator-btn{
    background-color:hsl(35, 100%, 45%);
}
.operator-btn:hover{
    background-color:hsl(35, 100%, 60%);
}
.operator-btn:active{
    background-color:hsl(35, 100%, 68%);
}
button {
    width: 100%;
    aspect-ratio: 1/1;  
    border-radius: 50%;
    border: none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover{
    background-color:hsl(0,0%,40%);
}
button:active{
    background-color:hsl(0,0%,50%);
}